<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{350,162}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{1113,1},{350,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-63}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{1222,436},{180,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{640,638}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_baby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,130}</string>
                <key>spriteSourceSize</key>
                <string>{81,130}</string>
                <key>textureRect</key>
                <string>{{1113,353},{81,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_balloon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,107}</string>
                <key>spriteSourceSize</key>
                <string>{77,107}</string>
                <key>textureRect</key>
                <string>{{1113,436},{77,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_balloon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{1136,515},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-63}</string>
                <key>spriteSize</key>
                <string>{348,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{643,537},{348,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-29}</string>
                <key>spriteSize</key>
                <string>{468,534}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{643,1},{468,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_listener.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,141}</string>
                <key>spriteSourceSize</key>
                <string>{89,141}</string>
                <key>textureRect</key>
                <string>{{993,537},{89,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{298,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{643,589},{298,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pt1.png</string>
            <key>size</key>
            <string>{1276,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9073023740e324f4a395fccb99fa99de:526d1518ed13c556865ad683cbdb734b:0904f1bba9b6207677be55ac6f5f0403$</string>
            <key>textureFileName</key>
            <string>pt1.png</string>
        </dict>
    </dict>
</plist>
