<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{350,164}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{563,585},{350,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{175,697},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,21}</string>
                <key>spriteSize</key>
                <string>{560,590}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{1,1},{560,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{422,216}</string>
                <key>spriteSourceSize</key>
                <string>{436,230}</string>
                <key>textureRect</key>
                <string>{{563,367},{422,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{248,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{175,645},{248,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-72}</string>
                <key>spriteSize</key>
                <string>{364,438}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{563,1},{364,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_deadline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,172}</string>
                <key>spriteSourceSize</key>
                <string>{106,172}</string>
                <key>textureRect</key>
                <string>{{1,593},{106,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{348,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{175,593},{348,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pt2.png</string>
            <key>size</key>
            <string>{1002,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aa4c4dd8d50e8267e9a9ab3b915a6fb:24741078889823ecaa67f5d429a9e443:a45e4d706b9dcc9e91ae93e4019bc441$</string>
            <key>textureFileName</key>
            <string>pt2.png</string>
        </dict>
    </dict>
</plist>
