<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{358,168}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{585,607},{358,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{695,351},{180,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{640,604}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{398,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{643,1},{398,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{436,582}</string>
                <key>spriteSourceSize</key>
                <string>{640,784}</string>
                <key>textureRect</key>
                <string>{{1,607},{436,582}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_clockhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,29}</string>
                <key>spriteSourceSize</key>
                <string>{6,29}</string>
                <key>textureRect</key>
                <string>{{585,1016},{6,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{348,50}</string>
                <key>spriteSourceSize</key>
                <string>{640,176}</string>
                <key>textureRect</key>
                <string>{{695,1},{348,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9_yawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,44}</string>
                <key>spriteSourceSize</key>
                <string>{47,44}</string>
                <key>textureRect</key>
                <string>{{585,967},{47,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pt3.png</string>
            <key>size</key>
            <string>{754,1044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ab992789691951ee0c511383f208e6:9209eee348db88c1bc8dfb052a26431c:aafc0f62dc98ec6ebb21ad4cb0e82684$</string>
            <key>textureFileName</key>
            <string>pt3.png</string>
        </dict>
    </dict>
</plist>
