<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>131415_memorybg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,496}</string>
                <key>spriteSourceSize</key>
                <string>{640,496}</string>
                <key>textureRect</key>
                <string>{{567,1},{498,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-45}</string>
                <key>spriteSize</key>
                <string>{488,406}</string>
                <key>spriteSourceSize</key>
                <string>{640,496}</string>
                <key>textureRect</key>
                <string>{{1541,1},{488,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{498,152}</string>
                <key>spriteSourceSize</key>
                <string>{640,288}</string>
                <key>textureRect</key>
                <string>{{1113,491},{498,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{564,496}</string>
                <key>spriteSourceSize</key>
                <string>{640,496}</string>
                <key>textureRect</key>
                <string>{{1,1},{564,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{554,152}</string>
                <key>spriteSourceSize</key>
                <string>{640,288}</string>
                <key>textureRect</key>
                <string>{{1,499},{554,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,4}</string>
                <key>spriteSize</key>
                <string>{472,470}</string>
                <key>spriteSourceSize</key>
                <string>{640,496}</string>
                <key>textureRect</key>
                <string>{{1067,1},{472,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{554,152}</string>
                <key>spriteSourceSize</key>
                <string>{640,288}</string>
                <key>textureRect</key>
                <string>{{557,499},{554,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pt5.png</string>
            <key>size</key>
            <string>{1948,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af188b857315bf357ea4293a1086d313:23ca0a580f0db4f8d0e20255e91ece3a:844f6044273079ad2d2b7bb49939b034$</string>
            <key>textureFileName</key>
            <string>pt5.png</string>
        </dict>
    </dict>
</plist>
