<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-93}</string>
                <key>spriteSize</key>
                <string>{454,422}</string>
                <key>spriteSourceSize</key>
                <string>{640,608}</string>
                <key>textureRect</key>
                <string>{{1139,1},{454,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_candlelight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-65}</string>
                <key>spriteSize</key>
                <string>{274,268}</string>
                <key>spriteSourceSize</key>
                <string>{640,608}</string>
                <key>textureRect</key>
                <string>{{1563,1},{274,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_redlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-53}</string>
                <key>spriteSize</key>
                <string>{498,137}</string>
                <key>spriteSourceSize</key>
                <string>{640,243}</string>
                <key>textureRect</key>
                <string>{{1139,457},{498,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_musicoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1619,277},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_musicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1563,349},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pagedown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{54,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1563,277},{54,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pt6.png</string>
            <key>size</key>
            <string>{1832,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b83368374c45a97377433b5a734fb8:00c71f186a2f504f2b406602daaad43e:405d8b10f19523834cd631feb853e937$</string>
            <key>textureFileName</key>
            <string>pt6.png</string>
        </dict>
    </dict>
</plist>
